//page-login {
//
//}
//page-login,page-signup {
//  ion-content{
//    //background:url(../assets/img/bg.jpg) no-repeat center;
//    background-size:cover;
//    color: white !important;
//    .logo
//    {
//      display:block;
//      width: 70px;
//      height:auto;
//      margin: 35px auto;
//    }
//    #btn-login,#btn-signup
//    {
//      color:#488aff;
//      font-size:15px;
//      margin-top:30px;
//      padding: 25px;
//      border-radius:2px;
//    }
//
//    .googleBtn {
//      font-size:15px;
//      margin-top:30px;
//      padding: 25px;
//      border-radius:2px;
//    }
//    #go-signup,#go-login {
//      margin-top : -4px;
//      &.button-ios{
//        margin-top:-10px;
//      }
//    }
//
//    .item{
//      color:white;
//    }
//    ion-item
//    {
//      background-color: transparent !important;
//    }
//  }
//}
//

page-login {
  .item-label-stacked .text-input-md, .item-label-floating .text-input-md
  {
    color: black;
  }

  .scroll-content{
    overflow: overlay;

  }
  .content{
    background-image: none;
    background-color: #488aff;
  }
  .list-md{
    background-color: transparent;
  }
  .logo{
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding-bottom: 10px;
    width: 100%;
  }
  .login-container{
    padding: 5px;
    margin-top: 10%;
    background-color: #fff;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.4);
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 20px;
    span{
      vertical-align: middle;
    }
  }
  .margint-1{
    margin-top: 1% !important;
  }
}
