page-bank-profile {
    ion-avatar{
        position: relative;
        margin-top: 0;
        padding:20px;
       
        
        .overlay-bank{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-image: url('../assets/img/bg-bank.jpg');
            -webkit-filter: blur(2px);
            -moz-filter: blur(2px);
            -o-filter: blur(2px);
            -ms-filter: blur(2px);
            filter: blur(2px);
            background-position: center;
            z-index: -1;
        }
    .avatar{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        border: 4px solid rgba(0,0,0,.3);
        display: block;
        margin: auto;
        
    }
}
.icon-map{
    margin: 0 2px;
}
.note{
    margin: 0 !important;
}
}
