page-forget-password {
  ion-content
  {
    background: linear-gradient(#0a92bb, #0ab0dc);
  }
ion-input
{
  border:1px solid #d3d3d3;
  border-radius: 5px;
}
  ion-input:focus
  {
    border:1px solid #0ab0dc;
    border-radius: 5px;
  }
  $text-input-placeholder-color: #363636;
}
